@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import "modules/reset.css";

:root{
    /* Configuration */
    --interface-size: 1440px;
    --interface-size-little: 600px;
    --spacing-little: 10px;
    --spacing-medium: 20px;
    --spacing-large: 30px;
    --radius-little: 10px;
    --radius-medium: 20px;
    --radius-large: 30px;
    /* Main Color */
    --main-color: #fff;
    --main-color-dark-1: #f8f8f8;
    --main-color-dark-2: #D6D6D6;
    --main-color-dark-3: #C2C2C2;
    --main-color-dark-4: #ADADAD;
    --main-color-dark-5: #999999;
    /* Text Color */
    --text-color-light-3: #9A9EAC;
    --text-color-light-2: #84899A;
    --text-color-light-1: #6E7487;
    --text-color: #565A69;
    --text-color-dark-1: #494D5A;
    --text-color-dark-2: #373A43;
    --text-color-dark-3: #25272D;
    --text-color-hover: #313131;
    --text-color-active: #000;
    --text-color-placeholder: #bcc8ce;
    /* Third Color */
    --neutral-color-light-3: #AFD6FD;
    --neutral-color-light-2: #88C2FC;
    --neutral-color-light-1: #60ADFB;
    --neutral-color: #2891F9;
    --neutral-color-dark-1: #1085F9;
    --neutral-color-dark-2: #0670DB;
    --neutral-color-dark-3: #055CB3;
    /* Default Color */
    --default-color-light-2: #f6f7fa;
    --default-color-light-1: #eeeff2;
    --default-color: #edeef1;
    --default-color-dark-1: #d7d9e0;
    --default-color-dark-2: #cbced7;
    /* Success Color */
    --success-color-light-2: #F3F9F0;
    --success-color-light-1: #dbeed1;
    --success-color: #C5E2B6;
    --success-color-dark-1: #ADD699;
    --success-color-dark-2: #96CB7C;
    /* Warning Color */
    --warning-color-light-2: #fff5f7;
    --warning-color-light-1: #fba7b9;
    --warning-color: #a7082a;
    --warning-color-dark-1: #580416;
    --warning-color-dark-2: #31020c;
    /* Info Color */
    --info-color-light-2: #F8B577;
    --info-color-light-1: #F6A051;
    --info-color: #F3841E;
    --info-color-dark-1: #E9770C;
    --info-color-dark-2: #C2630A;
    --info-color-bg: rgba(243, 132, 30, 0.05);
    --info-color-bg-hover: rgba(243, 132, 30, 0.1);
    --info-color-bg-active: rgba(243, 132, 30, 0.15);
}

.btn--template {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--radius-little);
    color: #000;
    background-color: var(--default-color);
    border: none;
    outline: none;
    cursor: pointer;
}

.btn--template:hover {
    background-color: var(--default-color-dark-1);
}

.btn--template:active {
    background-color: var(--default-color-dark-2);
}

.btn--success {
    color: var(--success-color-dark-2);
    background-color: var(--success-color-light-1);
}

.btn--success:hover {
    background-color: var(--success-color);
}

.btn--success:active {
    background-color: var(--success-color-dark-1);
}

.btn--info {
    color: var(--info-color);
    background-color: var(--info-color-bg);
}

.btn--info:hover {
    background-color: var(--info-color-bg-hover);
}

.btn--info:active {
    background-color: var(--info-color-bg-active);
}

.btn--bold {
    font-weight: bold;
}